# Assignment_9.1

In [6]:
import pandas as pd
import numpy as np
import sys
from datetime import datetime

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
s = pd.Series(df.X)
x = (s != 0).cumsum()
y = x != x.shift()
s1 = pd.Series(y.groupby((y != y.shift()).cumsum()).cumsum(), dtype=int)
pd.DataFrame(dict(s = s, s1 = s1))

df = pd.DataFrame({'date' : [i for i in pd.date_range(start = '1-1-2015', periods = 365)],
                   'values' : np.random.randint(low=0, high=100, size = 365)}).sort_values(['date'])\
                                                                                 .reset_index(drop = True)


    
df.head(10)

        date  values
0 2015-01-01      48
1 2015-01-02      22
2 2015-01-03      70
3 2015-01-04      25
4 2015-01-05      55
5 2015-01-06      66
6 2015-01-07      69
7 2015-01-08      78
8 2015-01-09      78
9 2015-01-10      43

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
date      365 non-null datetime64[ns]
values    365 non-null int32
dtypes: datetime64[ns](1), int32(1)
memory usage: 4.4 KB

In [8]:
df['day-of-week'] = df['date'].dt.weekday_name
test = df.groupby(['day-of-week']).sum()
test.head(10)

             values
day-of-week
Friday         2282
Monday         2431
Saturday       2567
Sunday         2548
Thursday       2573
Tuesday        2484
Wednesday      2626

In [12]:
df = pd.Series(np.random.randn(365), index=pd.date_range('2015-01-01', periods=365))
s2 = df.groupby([lambda x: x.year, lambda x: x.month]).sum()
s2.head(12)

2015  1    -0.703494
      2     2.900029
      3     7.657611
      4    -0.718610
      5     2.071227
      6     1.905800
      7     0.671987
      8     0.668339
      9    -2.759387
      10    0.059353
      11   -1.400804
      12   -2.903508
dtype: float64

In [13]:
s2.max()

7.657610934725156